.register-container{
    display: flex;
    min-height: 85vh;
}
.form-container{
    display: flex;
    justify-content: center;
}
.container{
    min-height: 100vh;
    background-color: #d9dadc;
}
.heading{
    font-weight: 600 !important;
}

.purple-font{
    font-weight: 700;
    /* font-size: 24px; */
    color: #6944ff;
    /* margin-bottom: 15px; */
}
.textfield{
    width: 100% !important;
    font-family: 'Quicksand', sans-serif !important;
    border-color: #6944ff !important;
    color: #6944ff !important;
}